.body {
    background-color: #F0FFF0;
    margin: 0;
    padding: 0;
}
.box {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: black;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
       
}
.title {
      margin-left:auto;
      margin-right:auto;
      margin-bottom: 20px;
      color: #F0FFF0;
      text-align: center;
      letter-spacing: 0.39em;
      line-height: 35px;
      font-size: 29px;
      
     }

.svg {
    margin-bottom: 26px;
    padding: 10px;
}

.batton {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border:2px solid white;
    padding: 10px;
    width: 302px;
    margin: 10px;
}  