.header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}
.header_blue {
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: #1400FF;
    
}
.header_yelow {
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: #FFF500;
}
.body {
    margin-left: auto;
    margin-right: auto;
    
}
.fon {
    min-height: 765px;
    margin-left: auto;
    margin-right: auto;
    background-image:url("../img/1444411287_oboyi-na-robochiy-stl-ukrayina-81.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.text {
font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 157.3%;
color: #000000;
text-align: left;
position: relative;
display: flex;
width: fit-content;
}
.text0 {
    margin-left: auto;
    margin-right: auto;
    
   
}

.text1 {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;
    color: #000000;
    text-align: center;

    
}
.text1_1 {
    width: 592px;
    height: 7px;
    background: #1400FF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.blur_flag {
    display: flex;
    flex-direction:row;
    height:7px;
    width: 100%;
    margin-left: 0;
    margin:auto;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgb(0,224,255);
    background: linear-gradient(90deg, rgba(0,224,255,1) 0%, rgba(20,0,255,1) 50%, rgba(255,168,0,1) 50%, rgba(255,168,0,0) 100%);

}

.item_card {
 display:inline-block;
 width: 30%;
 min-height: 481px;
 background: #FFFFFF;
 border: 5px solid #0D095F;
 border-radius: 50px;
 overflow: hidden;
}

.item_card > img{
    width: 100%;
}

.item_card > img ~ *{
    padding: 1rem;
    display: block;
}

.card__margin{
    margin: 0 3%;
}

/*
.item_card2 {
    display:inline-block;
    width: 388.35px;
    height: 481px;
    left: 520px;
    top: 1045px;
    background: #FFFFFF;
    border: 5px solid #0D095F;
    border-radius: 30px;
}

.item_card3 {
    display: inline-block;
    width: 391.2px;
    height: 481px;
    left: 969px;
    top: 1045px;
    background: #FFFFFF;
    border: 5px solid #0D095F;
    border-radius: 30px;
}
*/
.map {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.batton {
width: 100%;
max-width: 499px;
padding: 5px 10px;
height: 81px;
border: 1px solid blue;
background-color: #1400FF;
border-radius: 50px;
text-transform: uppercase;
color: white;
font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 62px;
text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
margin-left: auto;
margin-right: auto;
}

.hero {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
}
.flag_blue {
width: 23px;
background: linear-gradient(180deg, #00E0FF 0%, #1400FF 100%);
height: 50%;
}
.flag_yelow {
width: 23px;
background: linear-gradient(180deg, #FFA800 0%, #FFF500 100%);
height: 50%;
}
.flag {
    display: flex;
    flex-direction: column;
    height:auto;
    margin-right: 38px;


}
.hero_container {
    display: flex;
    margin: auto;
    width: calc(100% - 160px);
    
}
.hero_text {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 157.3%;
    color: #FFFFFF;
}
.footer {
    width: 100%;
    height: 233px;
    left: 0px;
    top: 2445px;
    background: linear-gradient(180deg, #013235 0%, #0D0661 100%);
    text-align: center;
}
.social {
    margin: 10px;
    
}
.contacts {
    font-family: 'Marcellus SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #A89D9D;
    text-decoration: none;
    padding: 10px;
}
